/* 
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografía
4. Temas visuales
5. Otros
*/
:root
{
  /* Colores */
  --bitcon-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --warm-black-plus: #282623;
  --grey: rgba(117, 117, 117, 1);
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;

  /* Borders */
  --basic-border-radius: 5px;
}

*,
*::after,
*::before
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html
{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header
{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background-color: rgba(32, 30, 28, 1);
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img
{
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title-wrapper h1
{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
  
.header--title-wrapper p
{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--soft-orange);
}

.header--title-wrapper
{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  text-align:center;
  align-self: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header--title-wrapper .header--button
{
  position:absolute;
  top: calc(100% - 24px);
	left: calc(50% - 114.5px);
  padding: 15px;
  display:block;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: var(--basic-border-radius);
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--warm-black)
}
.header--title-wrapper .header--button span
{
  display: inline-block;
  width: 18px;
  height: 100%;
  margin-left: 6px;
  background-image: url("../assets/icons/mdi_keyboard_arrow_down.svg");
  color: var(--warm-black);
}

/* Main Section */
main
{
  width: 100%;
  height: auto;
  min-width: 320px;
  background-color: var(--off-white);
}

.section--bitcoin
{
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 36px;
}

.section--bitcoin .background-img
{
  width: 200px;
  height: 200px;
  background-image: url('../assets/images/bitcoin.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 40px auto;
}

.section--bitcoin--text
{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin:0 auto;
  min-width: 288px;
  max-width: 900px;
  margin: 40px aut;

  text-align: center;
}

.section--bitcoin--text h2
{
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin: 24px 0;
}

.section--bitcoin--text p
{
  margin-bottom: 24px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  color: var(--grey);
}

.section--bitcoin--table-wrapper
{
  width: 100%;
  height: 320px;
  min-width: 320px;
  max-width: 600px;
  margin: 24px auto 0px;
  display:flex;
  align-items: center;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

@media screen and (min-width: 530px)
{
  .section--bitcoin--table-wrapper
 {
   justify-content: center;
   overflow-x: hidden;
 }
}


.section--bitcoin--table-monedas,
.section--bitcoin--table-comisiones
{
  width: 100%;
  min-width: 220px; 
  max-width: 200px;
  margin-right: 24px;
  margin-left: 24px;
}

.section--bitcoin--table-monedas p,
.section--bitcoin--table-comisiones p
{
  width: 100%;
  color: var(--bitcon-orange);
  margin-bottom: 16px;

  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;
}

.section--bitcoin--table-comisiones p
{
  color: var(--secondary-blue);
}

.section--bitcoin--table-monedas table,
.section--bitcoin--table-comisiones table
{
  width: 100%;
  height: 180px;
  min-height: 101px;
  scroll-snap-align: center;

  padding: 8px;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;

  border-collapse: separate;
  background-color: var(--just-white);
  box-shadow: 0px 1px 25px rgba(32, 30, 28, 0.363);
}

.section--bitcoin--table-monedas table tr td:last-child
{
  text-align: center;
}

.table__data-left
{
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: rgba(181, 176, 172, 1);
}

.table__data-right
{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: rgba(117, 117, 117, 1);
}

.section--bitcoin .section--bitcoin-date
{
  width: 60%;
  max-width: 288px;
  margin: 24px auto 0px;
  padding: 8px;

  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: var(--warm-black);
  text-align: center;

  border-radius: var(--basic-border-radius);
  background-color: var(--soft-orange);
}

/* Section product detail */

.section--product-detail
{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: var(--warm-black);
}

.product-detail-icon
{
  display:block;
  height: 48px;
  width: 52px;
  background-image: url("../assets/icons/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  position: relative;
  left:  calc(50% - 32px);
  top: -22px;
}

.product-detail-header
{
  width: 90%;
  margin: 16px auto 48px;
  min-width: 288px;
  max-width: 500px;
  text-align: center;
}

.product-detail-header h2
{
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail-header p
{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: rgba(128, 128, 128, 1);
}

@media screen and (min-width: 1024px)
{
  .product--detail-card-wrapper
  {
    max-width: 1024px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
  }
}

.product-detail-card
{
  width: 100%;
  height: auto;
  min-width: 288px;
  max-width: 500px;
  margin: 16px auto;
  padding: 10px 20px;

  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  background-color: var(--warm-black-plus);
}

.product-detail-card h3
{
  margin-top: 18px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}

.product-detail-card p
{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey);
}

/* Section know us */
.section--know-us-img-wrapper
{
  width: 100%;
  height: 60vh;
  min-width: 320px;
  background-image: url('../assets/images/bitcoinbaby-1-2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.section--know-us-img-wrapper h2 
{
  padding-top: 60px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}

/* Section prices */

.section--prices
{
  width: 90%;
  height: auto;
  margin: 64px auto 0px;
  min-width: 320px;
  max-width: 600px;
  text-align: center;
}

@media screen and (min-width: 1024px)
{
  .section--prices
  {
    max-width:none;
  }
}

.section--prices .prices-header
{
  width: 90%;
  margin: 0 auto 48px;
}

.prices-header h2
{
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);
}

.prices-header p
{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--grey);
}

.prices-recommended
{
  position: absolute;
  top: -20px;
  left: calc(50% - 55px);
  padding: 6px 10px;
  z-index: 10;

  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;

  color: var(--just-white);
  border-radius: 5px;
  background-color: var(--bitcon-orange);
}

.prices-card
{
  position: relative;
  scroll-snap-align: center;
  width: 60%;
  max-width: 300px;
  min-width: 240px;
  height: 260px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 20px 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--just-white);
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 2px 15px rgba(32, 30, 28, 0.363);
}

.prices--cards-wrapper
{
  display:flex;
  align-items: center;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

@media screen and (min-width: 1024px)
{
  .prices--cards-wrapper
  {
    justify-content: center;
    overflow-x: hidden;
  }
}

.prices-card p
{
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.prices--card-description
{
  color: var(--grey);
}

.prices-card-show-price
{
  display:flex;
  font-family: 'Inter', sans-serif;
}

.prices-card-show-price p:last-child
{
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.2rem;
}

.prices--card-choose-button
{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 8px 16px;
  border: 3px solid var(--bitcon-orange);

  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-decoration: none;

  background-color: var(--off-white);
  border-radius: 10px;
  cursor: pointer;
}

.prices--card-choose-button p
{
  color: var(--warm-black);
}

.prices--card-choose-button img
{
  transform:rotate(-90deg);
}

.card-choose-button-normal
{
  border-color: var(--warm-black-plus);
}

.card-nolimit
{
  background-color: var(--warm-black);
  color: var(--just-white);
}

.recommended-nolimit
{
  left: calc(50% - 40px);
  color: var(--just-white);
  background: var(--warm-black-plus);
  border: 3px solid var(--bitcon-orange);
}

.card-choose-button-nolimit
{
  border: 3px solid var(--bitcon-orange);
  background-color: var(--warm-black-plus);
}

.card-choose-button-nolimit p
{
  color: var(--just-white);
}

.card-choose-button-nolimit img
{
  transform: rotate(180deg);
}

/* Footer */

.footer
{
  height: auto;
  width: 100%;
  min-width: 288px;

  background-color: var(--bitcon-orange);
}

.footer--icons-wrapper
{
  max-width: 500px;
  display:flex;
  margin: 0 auto;
}

.footer--icons-left
{
  display:inline-flex;
  padding: 16px 0px 0px;
  width: 50vw;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1024px)
{
  .footer--icons-left
  {
    flex-direction: row;
  }
  .icons--mail
  {
    margin-bottom: 12px;
  }
  .footer--icons-wrapper
  {
    padding: 16px 0px;
  }
}

.icons--linkedin
{
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
  background-image: url("../assets/icons/linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icons--twitter
{
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
  background-image: url("../assets/icons/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icons--mail
{
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
  background-image: url("../assets/icons/minutemailer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer--icons-right
{
  display:inline-flex;
  padding: 16px 0px 0px;
  width: 50vw;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  color: var(--warm-black);
}

.icons--batata
{
  height: 42px;
  width: 42px;
  background-image: url('../assets/images/group-16.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer h3
{
  text-align: center;
}

.footer h3 a
{
  color: var(--warm-black-plus);
  font-size: 1.4rem;
}

